<% include ../layout/header_admin.ejs %>
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Danh sách tin tức</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Danh sách tin tức</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">tin tức</strong>
                    </div>
                    <div class="card-body">
                        <div>
                            <strong style="color: green"><%= mess %></strong>
                        </div>
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Ảnh</th>
                                    <th>Tiêu đề</th>
                                    <th>Tác giả</th>
                            </thead>
                            <tbody>
                                <% news.forEach(function(item){%>
                                <tr>
                                    <td><%= item.news_images %></td>
                                    <td><%= item.news_title %></td>
                                    <td><%= item.news_author %></td>
                                    <td>
                                        <ul class="nav">
                                            <li style="padding-right: 5%"><a
                                                    href="/admin/chinh-sua/tin-tuc=<%= item._id %>">
                                                    <button type="submit" class="btn btn-primary btn-sm">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a></li>
                                            <li>
                                                <form action='/admin/tin-tuc/xoa=<%= item._id %>' method="">
                                                    <button style="background-color: red; border: 1px solid red"
                                                        type="submit" class="btn btn-primary btn-sm">
                                                        <i class="fa fa-ban"></i>
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div>
<% include ../layout/footer_admin.ejs %>